{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
<!-- client review part here -->
    <section class="client_review">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="client_review_slider owl-carousel">
                        <div class="single_client_review">
                          <div class="section_tittle text-center">
                        <h2>About Me </h2>
                    </div>
                                <div class="client_img">
                                <img src="image/nermine.jpg" alt="#">
                            </div>
                            <p>I am a young Tunisian girl studying in the Higher Institute of Transport and Logistics of Sousse.</p>
                            <h5>- Nermine Mrad</h5>
                        </div>
                           
                       
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- client review part end -->

{% endblock %}
